@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Podnetics</h1>
</div>

<p>
    Welcome to our podcast distribution platform: a program created to support podcasters in every way. Whether your theme is 
    everyday life, celebrity gossip, true crime, storytelling, DIY projects, or helpful tips, our mission is to help your voice 
    become magnetic! You focus on creating, and we handle the spreading of your content across multiple platforms efficiently.
</p>
<p>
    With just one click, you can post your latest episode to the platforms of your choice, while making sure your content stays
    consistent across all of them. You will be able to fill in key information fields such as: category, podcast details (name, host, 
    description, and image/logo), and episode details (title, release date, audio link, and episode image).
</p>
<h2>
    You are the creator. We are the spreaders. Welcome to Podnetics, where your voice becomes magnetic.
</h2>
